[submodule "solana-dev-skill"]
	path = skills/solana-dev-skill
	url = https://github.com/GuiBibeau/solana-dev-skill.git
[submodule "claude-code-continuous-learning-skill"]
	path = skills/claude-code-continuous-learning-skill
	url = https://github.com/blader/claude-code-continuous-learning-skill.git
[submodule "claude-code-config"]
	path = claude-code-config
	url = https://github.com/jarrodwatts/claude-code-config.git
